body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .main-container {
    padding: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #5762ff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #641958;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
    cursor: pointer;
    color: #0078d4;
  }
  
  li:hover {
    text-decoration: underline;
  }
  
  .logout-button {
    float: right;
    background-color: #d9534f;
  }
  
  .logout-button:hover {
    background-color: #c9302c;
  }
  
  .custom-header {
    background-color: #5801e4; /* Cambia este valor al color deseado */
    color: white; /* Asegúrate de que el texto sea visible */
    border-bottom: 2px solid #0056b3; /* Agrega un borde decorativo si lo deseas */
  }
  
  .custom-header .title-font {
    font-size: 1.5rem;
    color: #ffffff; /* Cambia el color del texto */
  }
  
  /* Cambiar el tamaño de los títulos */
h1 {
    font-size: 2.5rem; /* Tamaño del título Pacientes */
    font-weight: bold;
  }
  
  h2 {
    font-size: 2rem; /* Tamaño del título Señales Vitales */
    font-weight: bold;
  }
  
  h4 {
    font-size: 1.8rem; /* Tamaño del título Alertas */
    font-weight: bold;
  }